# Python
*.pyc
*~
__pycache__

# Env
.env
weatherenv/
venv/


# Database
db.sqlite3

# Unit tests
htmlcov/
.coveragerc
.coverage
.coverage.*
coverage.xml
*.cover

# Static folder at project root
staticfiles_build/
static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
.vercel
