attr==0.3.2
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
cryptography==41.0.5
Cython==3.0.5
Django==4.2.6
dl==0.1.0
docutils==0.17.1
HTMLParser==0.0.2
importlib_metadata==4.6.4
ipython==8.17.2
ipywidgets==6.0.0
Jinja2==3.0.3
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
numpy==1.21.5
ordereddict==1.1
paramiko==2.9.3
Pillow==10.1.0
protobuf==4.25.0
pyOpenSSL==23.3.0
python-dotenv==1.0.0
python_socks==2.4.3
railroad==0.5.0
simplejson==3.17.6
Sphinx==7.2.6
toml==0.10.2
tornado==6.3.2
websockets==12.0
wsaccel==0.6.6
xmlrpclib==1.0.1
zipp==1.0.0
zstandard==0.22.0
