    <!-- MESSAGE  -->
        {% if messages %}
        {% for message in messages %}
                <div id="alert-2" class="absolute flex w-full mr-2 items-center mt-1 p-4 top-16 left-0 text-red-500 border border-red-800 rounded-lg bg-[#301e1d]" role="alert">
                    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                    </svg>
                    <span class="sr-only">Info</span>
                    <div class="ms-3 text-sm font-medium">Incorrect city name, please try again.</div>
                    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-[#3b2120] text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-500/30 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#alert-2" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                        </svg>
                    </button>
                </div>
          {% endfor %}
          {% endif %}
    <!-- END MESSAGE  -->

<form method="GET" action="{% url 'city' %}" class="flex items-center w-full">   
    <label for="city1" class="sr-only">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        </div>
        <input id="city1" type="text" name="value" class="w-full bg-stone-950 border border-gray-300 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 block ps-10 p-2.5" {% if 'city' in request.path %} placeholder="Search city..." {% endif %} placeholder="Search city or select capital from below map..." required>
    </div>
    <button type="submit" class="p-2.5 mx-4 text-sm font-medium text-white rounded-lg border border-yellow-400 hover:bg-yellow-400/25 focus:ring-4 focus:outline-none focus:ring-yellow-300">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
    </button>
</form>