<form method="GET" action="{% url 'city_test' %}" class="flex items-center w-full">   
    <label for="city1" class="sr-only">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
        </div>
        <input id="city1" type="text" name="value" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-yellow-500 focus:border-yellow-500 block ps-10 p-2.5" {% if 'city' in request.path %} placeholder="Search city..." {% endif %} placeholder="Search city or select capital from below map..." required>
    </div>
    <button type="submit" class="p-2.5 mx-4 text-sm font-medium text-white rounded-lg border border-yellow-400 hover:bg-yellow-400/25 focus:ring-4 focus:outline-none focus:ring-blue-300">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
    </button>
</form>